.navbar {
  background-color: #585b5b !important;
  height: 8vh !important;
}
.navbar-nav {
  width: 30%;
  display: flex;
  justify-content: space-between;
}
.nav-item a {
  font-size: 2vh;
  font-weight: normal;
  transition: all 0.3s;
}
.nav-item a:hover {
  scale: 1.1;
}
