<section class="users-list-wrapper">
  <div class="users-list-filters">
    <app-filter-contains
      (filterValueEmmitter)="onInputValue($event)"
    ></app-filter-contains>
  </div>

  <div class="users-list-table">
    <table class="table table-bordered">
      <thead>
        <tr class="table-row">
          <th scope="col">#</th>
          <th scope="col">E-Mail</th>
          <th scope="col">Private Number</th>
          <th scope="col">FirstName</th>
          <th scope="col">LastName</th>
          <th scope="col">Date</th>
          <th scope="col">Category</th>
          <th scope="col">Status</th>
          <th scope="col">Edit</th>
          <th scope="col">Delete</th>
        </tr>
      </thead>

      <tbody>
        <tr *ngFor="let item of usersList | filter: inputValue; let i = index">
          <th scope="row">{{ i + 1 }}</th>
          <td>{{ item.mail }}</td>
          <td>{{ item.privateNumber }}</td>
          <td>{{ item.firstName }}</td>
          <td>{{ item.lastName }}</td>
          <td>{{ item.date }}</td>
          <td>{{ item.category }}</td>
          <td>{{ item.status }}</td>
          <td><button class="btn btn-warning">Edit</button></td>
          <td>
            <button class="btn btn-danger" (click)="onDeleteUser(item.id)">
              Delete
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</section>
